<h2>Mi Carrito</h2>
<div>
    {{#each products}}
        <div class="cart-item">
            <h3>{{this.product.name}}</h3>
            <p>Cantidad: {{this.quantity}}</p>
            <button onclick="removeProduct('{{this.product._id}}')">Eliminar</button>
        </div>
    {{/each}}
</div>
